### 1. Write a Python program to print "Hello, World!"

In [ ]:
a = "Hello, World!"
print(a)

#or

print("Hello, World!")

Hello, World!
Hello, World!

### 2. Write a Python program that displays your name and age.

In [ ]:
name = "Kirti"
age = 21
print(name, age)

Kirti 21

### 3. Write code to print all the pre-defined keywords in Python using the keyword library.

In [1]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:
#or

for kw in keyword.kwlist:
    print(kw)

False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

### 4. Write a program that checks if a given word is a Python keyword.

In [5]:
word = input("Enter a word to check if it's a Python keyword: ")
print(keyword.iskeyword(word))

Enter a word to check if it's a Python keyword: for
True

### 5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

In [ ]:
#List

l1= ["Apple", "Banana", "Kiwi", "Mango", "pineapple"]
print(l1)

l1[3] = "grapes"
print(l1)

['Apple', 'Banana', 'Kiwi', 'Mango', 'pineapple']
['Apple', 'Banana', 'Kiwi', 'grapes', 'pineapple']

In [ ]:
#Tuple

t1 = ("Apple", "Banana", "Kiwi", "Mango", "pineapple")
print(t1)

t1[2] = "grapes"
print(t1)

('Apple', 'Banana', 'Kiwi', 'Mango', 'pineapple')

TypeError: 'tuple' object does not support item assignment

In [ ]:
#if we want to change an element in Tuples, we need to change it first in list than change back to tuple.
#For example:

t2 = (12, 15, 26, 89, 37)
print(t2)

l2 = list(t2)
l2[2] = 79
t2 = tuple(l2)
print(t2)

(12, 15, 26, 89, 37)
(12, 15, 79, 89, 37)

### 6. Write a function to demonstrate the behavior of mutable and immutable arguments.

In [6]:
n = 5              # Immutable (int)
l3 = [1, 2, 3]      # Mutable (list)

# Modify the immutable object

n += 10
print("After modification, num:", n)      # Only changes here; outside value changes if you modify directly

# Modify the mutable object

l3.append(100)
print("After modification, list:", l3)      # List reflects changes across all references

After modification, num: 15
After modification, list: [1, 2, 3, 100]

### 7. Write a program that performs basic arithmetic operations on two user-input numbers.

In [ ]:
x = int(input("Enter Your 1st Number: "))
y = int(input("Enter Your 2nd Number: "))
print("Addition:", x + y)
print("Multiplication:", x * y)
print("Subtraction:", x - y)
print("Division:", x / y)
print("Floor Division:", x // y)
print("Modulus:", x % y)
print("Exponent:", x ** y)

Enter Your 1st Number: 24
Enter Your 2nd Number: 2
Addition: 26
Multiplication: 48
Subtraction: 22
Division: 12.0
Floor Division: 12
Modulus: 0
Exponent: 576

### 8. Write a program to demonstrate the use of logical operators

In [ ]:
# and Operator
# True only if both conditions are true.

m = 40
print(50 < m and m < 90)
print(60 > m and m > 10)

False
True

In [ ]:
# or Operator
# True if at least one condition is true.

n = 45
print(n > 20 or n < 10)
print(n < 40 or n > 85)

True
False

In [ ]:
# not Operator
# Reverses the condition

r = 10
print(not(r > 5))
print(not(r < 5))

False
True

### 9. Write a Python program to convert user input from string to integer, float, and boolean types.

In [7]:
s = input("Enter Your Value: ")
print(s, type(s))

# from string to integer
i = int(input("Enter Your Value: "))           #this convert entered string input into integer value
print(i, type(i))

# from string to float
f = float(input("Enter Your Value: "))         #this convert entered string input into float value
print(f, type(f))

# from string to boolean
b = bool(input("Enter Your Value: "))          #this convert entered string input into boolean value
print(b, type(b))

Enter Your Value: 54
54 <class 'str'>
Enter Your Value: 54
54 <class 'int'>
Enter Your Value: 54
54.0 <class 'float'>
Enter Your Value: 54
True <class 'bool'>

### 10. Write code to demonstrate type casting with list elements.

In [9]:
# List of strings representing numbers

s1 = ["1", "2", "3", "apple", "5"]

# Try converting all to int, expect error for "apple"

i1 = []

for s in s1:
    try:
        i1.append(int(s))
    except ValueError:
        print(f"Cannot convert '{s}' to int!")
print(i1)

Cannot convert 'apple' to int!
[1, 2, 3, 5]

### 11. Write a program that checks if a number is positive, negative, or zero.

In [ ]:
check = int(input("Enter Your Number: "))
if check == 0:
  print("Your Number is equal to Zero.")

elif check > 0:
  print("Your Number is Positive.")

else:
  print("Your Number is Negative.")

Enter Your Number: 5423
Your Number is Positive.

### 12. Write a for loop to print numbers from 1 to 10.

In [ ]:
for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

### 13. Write a Python program to find the sum of all even numbers between 1 and 50.

In [ ]:
total = 0
for i in range(1, 51):
  if i % 2 == 0:
    print(i)
    total += i
print("Total Sum is:", total)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
Total Sum is: 650

### 14. Write a program to reverse a string using a while loop.

In [10]:
string = "Hello"
reversed_str = ""
i = len(string) - 1
while i >= 0:
    reversed_str += string[i]
    i -= 1
print(reversed_str)

olleH

### 15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
user = int(input("Enter Your Number: "))
fact = 1
n = user
while n > 0:
  fact = fact * n
  n = n - 1
print(fact)

Enter Your Number: 5
120

#THANK YOU :)